<link rel="stylesheet" href="/css/profile.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
  <div class="card">
    <img src="{{user_photo}}" alt="Person" class="card__image">
    <p class="card__name">{{name}}</p>
    <div class="grid-container">

      <div class="grid-child-posts">
        156 Posts
      </div>

      <div class="grid-child-followers">
        1012 Likes
      </div>

    </div>
    <ul class="social-icons">
      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
      <li><a href="#"><i class="fa fa-codepen"></i></a></li>
    </ul>
    <button class="btn draw-border">Follow</button>
    <button class="btn draw-border">Message</button>

  </div>
  <div class="card">
    <div id="animal-info">
    <h3>My best friend: </h3>
    {{#if animals.length}}
      {{#each animals as |animal|}}
        <div>
          <p><strong>Name: </strong>{{animal.name}}</p>
          <p><strong>Species/Breed: </strong>{{animal.pet_type}}</p>
          <p><strong>All about my pet: </strong>{{animal.pet_info}}</p>
        </div>
      {{/each}}
    {{/if}}
    </div>
  </div>

  <div class="card">
    <h3>What's going on in your pets life?</h3>
    <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name">Post title:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" />
      </div>
      <div class="form-group">
        <label for="project-desc">Post text:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  
  <div class="card">
    <h3>Lets get to know your pet</h3>
    <form class="form" id="new-animal-form">
      <div class="form-group">
        <label for="animal-name">Name:</label>
        <input class="form-input" type="text" id="animal-name" name="animal-name" />
      </div>
      <div class="form-group">
        <label for="animal-type">Species/Breed:</label>
        <input class="form-input" type="text" id="animal-type" name="animal-type" />
      </div>
      <div class="form-group">
        <label for="animal-text">Tell us about your pet:</label>
        <textarea class="form-input" id="animal-text" name="animal-text"></textarea>
      </div>
      <div class="form-group">
        <button id="addAnimalBtn" type="submit" class="btn btn-primary">Add</button>
      </div>
    </form>

    
  </div>

  <div class="card">
    <label for="upload picture"><h3>Upload a picture of your pet!</h3></label>
    <form id="upload-picture" action="/api/uploads" enctype="multipart/form-data" method="post">
      <div>
        <label for="custom-input" class="btn btn-link margin-top-25">File<input id="custom-input" type="file" name="profilePic"/></label>
      </div>
      <button id="upload-photo" type="submit" value="Upload" class="btn btn-link margin-top-25 margin-bottom-100">Upload</button>
    </form>
  </div>

  <div class="card">
    {{#if posts.length}}
    <div class="col-md-6 post-list margin-bottom-100">
      <h3>Current Posts:</h3>

      {{#each posts as |post|}}
        <div class="row mb-2">
          <div class="col-md-8">
            <h4><a href="/post/{{post.id}}">{{post.title}}</a></h4>
          </div>
          <div class="col-md-4">
            <button id="deletePost" class="btn btn-sm btn-danger" data-id="{{post.id}}">DELETE</button>
            {{!-- <button class="btn btn-sm btn-primary" data-id="{{post.id}}">UPDATE</button> --}}
          </div>
        </div>
      {{/each}}
    </div>
    {{/if}}
  </div>
</div>

<script src="/js/profile.js"></script>
